function main.fibonacci 0
push argument 0
push constant 2
lt                     // check if n < 2
if-goto IF_TRUE
goto IF_FALSE
label IF_TRUE          // if n<2, return n
push argument 0        
return
label IF_FALSE         // if n>=2, return fib(n-2)+fib(n-1)
push argument 0
push constant 2
sub
call main.fibonacci 1  // compute fib(n-2)
push argument 0
push constant 1
sub
call main.fibonacci 1  // compute fib(n-1)
add                    // return fib(n-1) + fib(n-2)
return
